<!DOCTYPE html>
<html lang="ja">
<head>
    <title>checkerの出力結果</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>内容</th>
                <th>actual NB</th>
                <th>actual PB</th>
                <th>actual B</th>
                <th>expected NB</th>
                <th>expected PB</th>
                <th>expected B</th>
            </tr>
        </thead>
        <tbody>
            {{table}}
        </tbody>
    </table>
</body>
</html>
